/* You can add global styles to this file, and also import other style files */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f0f0f0;
}

.button-container {
  margin-top: 16px;
  margin-bottom: 16px;
}

.edit-button {
  background-color: #ffc107;
}

.delete-button {
  background-color: #f44336;
}

.edit-button, .delete-button {
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-right: 8px;
}

.edit-button:hover, .delete-button:hover {
  opacity: 0.8;
}
